*{
    box-sizing: border-box;
}

body{
    padding-left: 130px;
    padding-right: 130px;
    color: black;
    max-width: 2000px;
    margin: auto;
    text-align: center;
}

.container-main{
    width: auto;
    height: auto;
}

.container-top{
    display: flex;
}

.top-left{
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    flex: 1;  
    display: flex;
}

.top-left2{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    display: flex;
    flex: 1;    
}

.top-right2{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    display: flex;
    flex: 1;    
}

.top-right{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    flex: 1;
    display: flex;
    flex-direction: column;  
}

.top-top{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    flex: 1; 
}

.top-bot{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    flex: 1;
}

.container-top{
    display: flex;
}

.bot-left{
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    flex: 1;  
    display: flex;
}

.bot-left2{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    display: flex;
    flex: 1;    
}

.bot-right2{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    display: flex;
    flex: 1;    
}

.bot-right{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    flex: 1;
    display: flex;
    flex-direction: column;  
}

.bot-top{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    flex: 1; 
}

.bot-bot{
    padding: 40px;
    background-color: #9ed2e1;
    border: 7px solid #000df8;
    height: 163px;
    flex: 1;
}